<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="gameApp" 
    ng-controller="GameCtrl" 
    ng-class="{'game-ended':gameEnded, 'show-guess-options':showGuessOptions, 'show-hint': showHint}"
    layout="row" layout-align="center center">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-content class="content" 
      layout-padding
      layout="row"
      flex="90"
      layout-wrap>

      <div flex="100" layout="row">

          <div class="md-display-2">GuessWho</div>

          <div flex></div>

          <md-menu md-position-mode="target-right target" >

                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon>settings</md-icon>
                </md-button>

                <md-menu-content width="4">
                  <md-radio-group ng-model="config.currentLevelIndex">
                    <md-radio-button ng-repeat="item in config.levels" value="{{$index}}" class="md-primary">{{item.name}}</md-radio-button>
                  </md-radio-group>

                  <md-menu-item>
                    <md-button ng-click="restart()">
                      <md-icon>refresh</md-icon>
                      Reiniciar
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

      </div>

      <section flex="30">

        <grid></grid>
        
        <div ng-hide="gameEnded">
          <md-button ng-click="toggleGuessOptions()">Adivinar</md-button>
        </div>

      </section>

      <div flex="5"></div>

      <section flex>
        <exercise></exercise>
      </section>

    </md-content>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/person.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/services/mutator.js"></script>
        <script src="scripts/controllers/game.js"></script>
        <script src="scripts/services/exercise.js"></script>
        <script src="scripts/services/maps.js"></script>
        <script src="scripts/services/mapper.js"></script>
        <script src="scripts/services/randomizer.js"></script>
        <script src="scripts/directives/exercise.js"></script>
        <script src="scripts/directives/grid.js"></script>
        <script src="scripts/services/utils.js"></script>
        <!-- endbuild -->
</body>
</html>
